.post_detail {
	/* display: flex;
	flex-direction: column; */
	margin-bottom: 2em;
	/* width: 400px; */
}

.post_detail img {
	width: 100%;
	height: 420px;
	object-fit: cover;
}

.post_detail h3 {
	margin-bottom: 0.4em;
}

.post_detail .tags {
	margin-bottom: 1.2em;
	display: flex;
	flex-wrap: wrap;
}

.tags p {
	margin-right: 0.5em;
}

.tags span {
	font-weight: bold;
}

.createdby {
	font-style: italic;
	color: #444;
	font-size: 0.8em;
	margin-bottom: 1em;
}
.details_area {
}
